body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #f6f6f6;
}

#app {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 34px;
    letter-spacing: 3px;
    color: #287094;
    padding-top: 40px;
    padding-left: 20px;
}

fieldset {
    padding: 20px 10px;
    margin-bottom: 30px;
    border: 1px solid #d4d4ce;
    border-radius: 4px;
    color: #287094;
}

input {
    padding: 5px 10px;
    margin: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #d4d4ce;
    border-radius: 4px;
    background-color: #f6f6f6;
    font-family: 'Quicksand', sans-serif;
}

::placeholder {
    color: #d4d4ce;
}

input[type=button] {
    background-color: #d4d4ce;
    border: none;
    color: #023246;
    font-size: 15px;
    letter-spacing: 1px;
}

.expensive {
    color: #e16c5b;
    font-weight: bolder;
}

.cheap {
    color: #4d9dc5;
    font-weight: bolder;
}

.item-container {
    display: grid;
    grid-template-columns: 2em 15em 15em 10em 10em 2em;
    
}

ul#shopping-list {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.list-header{
    font-weight: bolder;
    color: #287094;
  
}

ul#shopping-list li {
    
    position: relative;
    padding: 5px;
    padding-bottom: 10px;
    margin: 5px;
    border-bottom: 1px solid #d4d4ce;
    color: #023246;

}

ul#shopping-list li div.notDone {
    margin-right: 10px;
    border-radius: 4px;
    background-color: #287094;
    cursor: pointer;
}

ul#shopping-list li div.done {
    margin-right: 10px;
    border-radius: 4px;
    background-color: #edeae5;
    color: #023246;
    cursor: pointer;
}

ul#shopping-list li div.delete {
    margin-top: 4px;
    display: inline-block;
    position: absolute;
    right: 5px;
    cursor: pointer;
    color: #023246;
}

#total-spending {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #287094;
}